<div class="col-md-6 col-sm-12">
	<div class="portlet-body">
		<div class="row static-info">
			<div class="col-md-5 name text-left"> Tên: </div>
			<div class="col-md-7 value text-left"> Jhon Doe </div>
		</div>
		<div class="row static-info">
			<div class="col-md-5 name text-left"> Email: </div>
			<div class="col-md-7 value text-left"> jhon@doe.com </div>
		</div>
		<div class="row static-info">
			<div class="col-md-5 name text-left"> State: </div>
			<div class="col-md-7 value text-left"> New York </div>
		</div>
		<div class="row static-info">
			<div class="col-md-5 name text-left"> Phone Number: </div>
			<div class="col-md-7 value text-left"> 12234389 </div>
		</div>
	</div>
</div>
<div class="col-md-6 col-sm-12">
	<div class="portlet-body">
		<div class="row static-info">
			<div class="col-md-5 name text-left"> Customer Name: </div>
			<div class="col-md-7 value text-left"> Jhon Doe </div>
		</div>
		<div class="row static-info">
			<div class="col-md-5 name text-left"> Email: </div>
			<div class="col-md-7 value text-left"> jhon@doe.com </div>
		</div>
		<div class="row static-info">
			<div class="col-md-5 name text-left"> State: </div>
			<div class="col-md-7 value text-left"> New York </div>
		</div>
		<div class="row static-info">
			<div class="col-md-5 name text-left"> Phone Number: </div>
			<div class="col-md-7 value text-left"> 12234389 </div>
		</div>
	</div>
</div>